.canvas-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 2rem;
}

.control-box {
  padding: 2rem;
}

.filter-preset-button {
  margin: 0.5rem;
}

.reset-button {
  margin-bottom: 1rem;
}
